@font-face {
  font-family: "MrDafoe-Regular";
  src: url("./MrDafoe-Regular/MrDafoe-Regular.ttf") format("truetype");
}

ul {list-style-type: circle;}

img {float: right;}
p {color: rgba(0, 255, 234, 0.726);}
p.ex1 {display: none;}
span {
    font-weight:bold;
    color:mediumseagreen;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
	color: aquamarine;
	font-size: 70px;
	background-color: rgb(7, 85, 55);
	line-height: 10px;
	padding: 70px;
	width: 600px;
	font-family: "MrDafoe-Regular";
	font-weight: lighter;
}

h3 {
	color: aquamarine;
	font-size: 20px;
	background-color: rgb(7, 85, 55);
	line-height: 30px;
	padding: 20px;
	width: 300px;
	font-weight: bold;
}

h2, form {
	color: aquamarine;
	font-size: 30px;
	background-color: rgb(7, 85, 55);
	line-height: 30px;
	padding: 20px;
	width: 300px;
	font-weight: bold;
}

p  {	
    color: aquamarine;
	font-size: 50px;
	background-color: rgb(7, 85, 55);
	line-height: 50px;
	padding: 55px;
	width: 500px;
	font-weight: bold;
} 

p1 {	
    color: aquamarine;
	font-size: 20px;
	background-color: rgb(7, 85, 55);
	line-height: 30px;
	padding: 20px;
	width: 300px;
}

ol, ul {
	color: aquamarine;
	font-size: 30px;
	background-color: rgba(7, 85, 55, 0.678);
	line-height: 50px;
	letter-spacing: 0.1cm;
	padding: 55px;
	width: 500px;
	font-weight: bold;
	font-style: italic;
}

body {
	background-color: rgb(2, 20, 16);
}

#Lovecraft {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}

table, th, td {
	margin-left: 70;
	margin-right: 70;
  border:20px solid rgb(7, 85, 55);
  color: aquamarine;
	font-size: 50px;
	line-height: 50px;
	padding: 30px;
	width: 100px;
	height:100px;
	font-weight: bold;
	border-collapse: separate;
	border-radius: 100px;
}